{% block form_row %}
{% spaceless %}
    <div class="form_row">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %} 
{% block form_widget_compound %}
hgjgjhgjhghjghjgjhgjgjhg
<div {{ block('widget_container_attributes') }}>
    {% if form.parent is empty %}
        {{ form_errors(form) }}
    {% endif %}
    {% if form.vars.groups is defined %}
        {% for group,items in form.vars.groups %}
        <fieldset>
            <legend>{{ group|title|trans({}, translation_domain) }}</legend>
            {% for item in items %}
                {{ form_row(form[item]) }}
            {% endfor %}
        </fieldset>
        {% endfor %}
    {% endif %}
    {{ form_rest(form) }}
</div>
{% endblock form_widget_compound %}