{% block form_row %}
{% spaceless %}
<div class="form_inputs clearfix">
  <div class="row-fluid">
    <div class="span2">
      {{ form_label(form) }}
    </div>
    <div class="span10">
      {{ form_widget(form) }}
      {{ form_errors(form) }}
    </div>
  </div>
</div>
{% endspaceless %}
{% endblock form_row %} 

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <label generated="true" class="error">
          <ul>
              {% for error in errors %}
                  <li>{{ error.message }}</li>
              {% endfor %}
          </ul>
        </label>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}


{% block form_widget_compound %}
<div class="span12">
  <div class="widget_wrapper {{ block('widget_container_attributes') }}">
    <div class="widget_header">
      <h3 class="icos_pen">Input fields</h3>
    </div>
    <div class="widget_content no-padding">
      {% if form.vars.groups is defined %}
        {% for group,items in form.vars.groups %}
        <fieldset>
          <legend>{{ group|title|trans({}, translation_domain) }}</legend>
          {% for item in items %}
            {{ form_row(form[item]) }}
          {% endfor %}
        </fieldset>
        {% endfor %}
      {% endif %}
      {{ form_rest(form) }}
    </div>
  </div>
</div>
{% endblock form_widget_compound %}