{% extends 'DCShowcaseBundle:Layouts:main.html.twig' %}

{% block content %}
<div class="container">
laskjdbaskjfbhalsbdflhasbdfkasbdfjbasdfkjabsfv hbasdj;kbasklfvbaxzklBfvJHBZljkhbaxszlHFDVKLHbaejdb
      <div class="row row-offcanvas row-offcanvas-left">
      	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="well sidebar-nav">
            <ul class="nav">
              <li><a href="#">Most Popular</a></li>
              <li><a href="#">Fish</a></li>
              <li><a href="#">Meat</a></li>
              <li><a href="#">Side dishes</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p></p>
          </div>
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-4 tipped" data-toggle="popover" data-content="There must be a description of meals" data-original-title="Meals name" data-placement="left">
              <img src="{{ render(controller("DCShowcaseBundle:Image:resize", {'path': '/uploads/05_Ea_xKqNw.jpg', 'width': 500})) }}" style="width:100%" alt="">
              <button type="button" class="btn btn-success pull-right">{% trans %}Order{% endtrans %}</button>
	            <span class="pull-left">Food name</span>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <img src="{{ render(controller("DCShowcaseBundle:Image:resize", {'path': '/uploads/3Z2NgYiigjM.jpg', 'width': 500})) }}" style="width:100%" alt="">
	            <button type="button" class="btn btn-success pull-right">{% trans %}Order{% endtrans %}</button>
	            <span class="pull-left">Food name</span>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <img src="{{ render(controller("DCShowcaseBundle:Image:resize", {'path': '/uploads/60D5BTD6YEM.jpg', 'width': 500})) }}" style="width:100%" alt="">
              <button type="button" class="btn btn-success pull-right">{% trans %}Order{% endtrans %}</button>
	            <span class="pull-left">Food name</span>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <img src="{{ render(controller("DCShowcaseBundle:Image:resize", {'path': '/uploads/c0zCZZeV6Ug.jpg', 'width': 500})) }}" style="width:100%" alt="">
              <button type="button" class="btn btn-success pull-right">{% trans %}Order{% endtrans %}</button>
	            <span class="pull-left">Food name</span>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <img src="{{ render(controller("DCShowcaseBundle:Image:resize", {'path': '/uploads/mubTm6A97qc.jpg', 'width': 500})) }}" style="width:100%" alt="">
              <button type="button" class="btn btn-success pull-right">{% trans %}Order{% endtrans %}</button>
	            <span class="pull-left">Food name</span>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <img src="{{ render(controller("DCShowcaseBundle:Image:resize", {'path': '/uploads/Pb5W10C_tjI.jpg', 'width': 500})) }}" style="width:100%" alt="">
              <button type="button" class="btn btn-success pull-right">{% trans %}Order{% endtrans %}</button>
	            <span class="pull-left">Food name</span>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->

        
      </div><!--/row-->

      <hr>

    {% block footer %}
      <footer>
        <p>© Company 2013</p>
      </footer>
	{% endblock %}

    </div>
{% endblock %}